{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
    <div id="new-post">
        <form method="POST" action="{% url 'new_post' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <h5>NewPost</h5>
            <textarea id="story" name="entry" rows="5" cols="100"></textarea>
            <br>
            Image: <input type="file" accept="image/*" class="image" name="image">
            <br>
            <input type="submit" value="Post">
        </form>
    </div>
{% endif %}

    <div id="all-post">
        <h5>All Posts</h5>
        <ul>
        {% for p in all_posts%}
        <li>
        {% if p.image %}
        <img src="{{ p.image.url }}" width="500">
        {% endif %}
        <P>{{p.entry}} <br> by <a href="{% url 'profile' p.creator.id %}">{{p.creator}}</a> @ {{p.created_date}}</P>
        </li>
        {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}