{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<h4>{{ user_profile.username }}</h4>
<div><a href="{% url 'user_followers' user_profile.id %}">Followers: {{followers}}</a> &nbsp; <a href="{% url 'user_following' user_profile.id %}">Following: {{following}}</a></div>
{% if user.is_authenticated and not self_login %}
<form method="post" action="{% url 'follow' user_profile.id %}">
    {% csrf_token %}
    {% if user_follow %}
    <input type="submit" value="Unfollow">
    {% else %}
    <input type="submit" value="Follow">
    {% endif %}

</form>
{% endif %}
<hr>

{% if self_login %}
<div id="new-post">
    <form method="POST" action="{% url 'new_post' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h5>NewPost</h5>
        <textarea id="story" name="entry" rows="5" cols="100"></textarea>
        <br>
        Image: <input type="file" accept="image/*" class="image" name="image">
        <br>
        <input type="submit" value="Post">
    </form>
</div>
<hr>
{% endif %}


<ul>
{% for p in page_obj %}
<li>
    {% if p.image %}
    <img src="{{ p.image.url }}" width="500">
    {% endif %}
    <P>{{p.entry}} <br> by <a href="{% url 'profile' p.creator.id %}">{{p.creator}}</a> @ {{p.created_date}}
        {% if p.user_like %}

        <button id="p{{p.id}}" onclick="javascript:like('{{ p.id }}')" value="{{p.user_like}}">
        <i id="i{{p.id}}" class="fa-solid fa-heart"></i><span id="s{{p.id}}">{{ p.num_like }}</span>
        </button>

        {% else %}

        <button id="p{{p.id}}" id="p{{p.id}}" onclick="javascript:like('{{ p.id }}')" value="{{p.user_like}}">
        <i id="i{{p.id}}" class="fa-regular fa-heart"></i><span id="s{{p.id}}">{{ p.num_like }}</span>
        </button>
        
        {% endif %}
    </P>
    
    </li>
    <div style="display:flex; margin-top: -15px; margin-bottom: 20px;">
        <form id="edit" action="{% url 'edit' p.id %}" method="post">
            {% csrf_token %}
            <div id="editInput">
                <button id="editInputButton">Edit</button>
            </div>
            <div id="editDiv" ></div>
        </form>
        <form method="post" action="{% url 'delete' p.id %}">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    </div>

{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    const user_id = "{{ user.id }}"
</script>

<script src="{% static 'network/network.js' %}"></script>

{% endblock %}
